*{
  background-color: rgb(27, 32, 48);
  color: rgb(241, 241, 243);
  font-family: Inter,Arial;
  font-weight: 400;
}

.navbar{
  display:flex;
  align-items: center;
  border-bottom: 1.5px solid rgba(235, 235, 239, 0.2);
  padding-top:8px;
  padding-bottom:8px;
  margin-left:-10px;
  margin-right:-10px;
}
.navbar h1{
  margin:0;
  margin-left:10px;
  font-size: xx-large;
  background: linear-gradient(90deg, rgb(46,186,198) 16%, rgba(182, 80, 158, 1) 91%);
  -webkit-background-clip: text; /* For Safari */
  -webkit-text-fill-color: transparent; /* For Safari */
  background-clip: text;
  
}

.drop{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown{
  padding-top:30px;
  padding-bottom:30px;
  position: relative;
  display: inline-block;
}

.dropDown_text{
  display:flex;
}

/* Dropdown Button */
.dropbtn {
  margin: 0;
  display:block;
  font-weight: 700;
  letter-spacing: 0.015625rem;
  line-height: 123.5%;
  font-size:26px;
  
  background-color: none;
  color: white;

  padding-right:5px;
  border: none;
  cursor: pointer;
  
}

.dropdown_version{
  text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  animation: fade-in 0.3s ease-in-out;
  border-radius: 4px;
  border: 1.5px solid rgb(56, 61, 81);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px, rgba(0, 0, 0, 0.1) 0px 2px 10px;
  outline: 0px;
}

/* Links inside the dropdown */
.dropdown_content a {
  color: rgb(255, 255, 255);
  background-color: rgb(56, 61, 81);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-top: 1px solid rgba(235, 235, 239, 0.08);

}


.dropdown_content a:hover {
  background-color: rgba(0, 0, 0, 0.01);
}

.dropdown_content_text{
  margin: 0px;
  font-weight: 500;
  letter-spacing: 0.00625rem;
  line-height: 1rem;
  font-size: 0.75rem;
  color: rgb(165, 168, 182);
  background-color: rgb(56, 61, 81);
  padding: 16px;
 
}

.dropdown_version_text{
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 12px;
  background: linear-gradient(248.86deg, #B6509E 10.51%, #2EBAC6 93.41%);
  margin:0;
  width:20px;
  font-size:14px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
  
}

/* Animation for fade-in effect */
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* Animation for fade-out effect */
@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.search_div{
  display:flex;
  justify-content: center;
}

.search_div_input{
  font-size: large;
  background-color:rgb(56, 61, 81);
  border-radius: 4px;
  border: 1px solid rgba(235, 235, 239, 0.08);
  height:30px;
  width: 500px;
  cursor: pointer;
  transition: border 0.2s;
  
}

.search_div_button{
  background: rgb(56, 61, 81);
  border-radius: 4px;
  border: 1px solid rgba(235, 235, 239, 0.08);
  margin-left:10px;
}

.headerInfo{
  padding-bottom:60px;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.info_container{
  padding-top:48px;
  padding-bottom:48px;
  display:block;
  
}
.info_container_top p{
  background-color: rgb(27, 32, 48);
  font-weight: 400;
  letter-spacing: 0.029375rem;
  font-size: 0.875rem;
  color: rgb(165, 168, 182);
  margin:0;
  padding-bottom:5px;
}

.info_container_bottom div{
  background-color: rgb(27, 32, 48);
  font-weight: 800;
  line-height: 133.4%;
  font-size: 1.3125rem;
  word-break:break-all;
}

.info_container_top{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adjust the gap between grid items */
  background-color: rgb(27, 32, 48);
  padding-left:20px;
  width:400px;
  font-size:14px;
}

.info_container_top div{
  display: flex;
}

div.textbox {
  display: none;
  position: absolute;
  background-color: rgb(41, 46, 65);
  padding: 5px;
  border: 1px solid rgba(235, 235, 239, 0.08);
  border-radius: 5px;
  top: 98px; /* Adjust this value to position the textbox above the SVG */
  
  transform: translateX(-10%);
  
  
  
}

.info_container_top_netWorth_icon, .info_container_top_icon_healthFactor_icon, .info_container_top_icon_ltv_icon{
  width:15px;
  height:15px;
  padding-left:2px;
  cursor: pointer;
 
}

.info_container_bottom{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adjust the gap between grid items */
  background-color: rgb(27, 32, 48);
  padding-left:20px;
  width:400px;
  font-size:21px;
}

.info_container_bottom_netWorth{
  display: flex;
}
.info_container_bottom_netWorth_symbol{
  color: rgb(165, 168, 182);
  padding-right: 2px;
}

.b_s_container_borrow_btn, .b_s_container_supply_btn{
  font-size:large;
  background: rgb(56, 61, 81);
  border-radius: 4px;
  border: 1px solid rgba(235, 235, 239, 0.08);
  padding:5px;
  width:100px;
  cursor: pointer;
  transition: border 0.2s;
  
}

.b_s_container_supply_btn:hover, .b_s_container_borrow_btn:hover{
  border: 1px solid rgba(255, 255, 255, 0.8);
}



.assets{
  margin-top:20px;
  display: flex;
  justify-content: center;
}

.assets_supply{
  padding:10px;
  padding-right:20px;
  background-color: rgb(41, 46, 65);
  border: 1px solid rgba(235, 235, 239, 0.08);
  border-radius: 4px;
  min-height:125px;
  margin-right: 15px;
  width:40%;
  padding-bottom:0;
  
  
}

.assets_supply_top, .assets_borrow_top{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(41, 46, 65);
}

.assets_borrow{
  padding:10px;
  padding-right:20px;
  background-color: rgb(41, 46, 65);
  border: 1px solid rgba(235, 235, 239, 0.08);
  border-radius: 4px;
  min-height:125px;
  width:40%;
  padding-bottom:0;
}


.assets_supply_top_header, .assets_borrow_top_header{
  padding:10px;
  background-color: rgb(41, 46, 65);
  font-size: large;
}

.assets_supply_nothing, .assets_borrow_nothing{
  padding:10px;
  background-color: rgb(41, 46, 65);
  font-size: 14px;
  color:rgb(165, 168, 182);
}

.assets_supply_header, .assets_borrow_header{

  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  font-size: small;
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  background-color: rgb(41, 46, 65);
  margin-left:-10px;
  margin-right:-10px;
  padding-top:35px;

}

.assets_supply_header h3{
  margin:0;
  background-color: rgb(41, 46, 65);
  font-size: 0.75rem;
  color:rgb(165, 168, 182);
}

.assets_borrow_header h3{
  margin:0;
  background-color: rgb(41, 46, 65);
  font-size: 0.75rem;
  color:rgb(165, 168, 182);
}


.modal_supply, .modal_borrow{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px); 
  justify-content: center;
  align-items: center;
  z-index: 9999; 

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
  
}

.modal_supply.visible {

  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
}

.modal_borrow.visible {

  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
}

.modal_supply_content, .modal_borrow_content{
  width: 50%;
  height: 90%;
  background-color: rgb(41, 46, 65);
  border: 1px solid rgba(235, 235, 239, 0.08);
  border-radius: 10px;
  padding:10px;

  margin:auto;
  margin-top:10px;
}

.modal_supply_content_header, .modal_borrow_content_header{
  display:flex;
  background-color: rgb(41, 46, 65);
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.modal_supply_content_header p{
  background-color:inherit;
  margin:0;
  padding:10px;
  font-size: x-large;
}

.modal_borrow_content_header p{
  background-color:inherit;
  margin:0;
  padding:10px;
  font-size: x-large;
}


.modal_supply_exit, .modal_borrow_exit{
  width:20px;
  height:20px;
  padding:10px;
  background-color: inherit;
}

.modal_supply_content_assets_labels, .modal_borrow_content_assets_labels{
  background-color:rgb(41, 46, 65);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid rgba(235, 235, 239, 0.08);
  margin-left: -10px;
  margin-right: -10px;
  
}
.modal_supply_content_assets_labels p{
  font-size: 0.75rem;
  color:rgb(165, 168, 182);
}

.modal_borrow_content_assets_labels p{
  font-size: 0.75rem;
  color:rgb(165, 168, 182);
}


.modal_supply_content_assets_grid, .modal_borrow_content_assets_grid{
  margin-left: -10px;
  margin-right: -10px;
}

.modal_supply_content_assets p{
  background-color:rgb(41, 46, 65);
  
}


.modal_borrow_content_assets p{
  background-color:rgb(41, 46, 65);
  
}

.modal_supply_content_scrollable, .modal_borrow_content_scrollable {
  overflow: auto;
  background-color:rgb(41, 46, 65);
  height: 500px;
  border-bottom: 1px solid rgba(235, 235, 239, 0.08);
}

.modal_supply_content_scrollable_list, .modal_borrow_content_scrollable_list{
  background-color:rgb(41, 46, 65);
  list-style-type: none;
  padding:0;
  margin:0;
}

.modal_supply_content_scrollable_list li{
  background-color:rgb(41, 46, 65);
}

.modal_borrow_content_scrollable_list li{
  background-color:rgb(41, 46, 65);
}

.modal_supply_content_scrollable_list div{
  background-color:rgb(41, 46, 65);
  display:grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid rgba(235, 235, 239, 0.08);
  padding-top: 30px;
  padding-bottom:30px;
  justify-items: center;
  align-items: center;
}

.modal_borrow_content_scrollable_list div{
  background-color:rgb(41, 46, 65);
  display:grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid rgba(235, 235, 239, 0.08);
  padding-top: 30px;
  padding-bottom:30px;
  justify-items: center;
  align-items: center;
}

.modal_supply_content_scrollable_list div button{
  font-size:medium;
  background-color: rgb(56, 61, 81);
  border-radius: 4px;
  border: 1px solid rgba(235, 235, 239, 0.08);
}

.modal_borrow_content_scrollable_list div button{
  font-size:medium;
  background-color: rgb(56, 61, 81);
  border-radius: 4px;
  border: 1px solid rgba(235, 235, 239, 0.08);
}

.modal_supply_content_scrollable_list div button:hover{
  border: 1px solid rgba(235, 235, 239, 0.8);
}

.modal_borrow_content_scrollable_list div button:hover{
  border: 1px solid rgba(235, 235, 239, 0.8);
}

.modal_borrow_content_scrollable_list li{
  background-color:rgb(41, 46, 65);
}

.modal_supply_content_assets_bottom{
  background-color:rgb(41, 46, 65);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:15px;
  
}

.modal_borrow_content_assets_bottom{
  background-color:rgb(41, 46, 65);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:15px;
  
}

.modal_supply_content_assets_bottom_btn{
  background-color:rgb(41, 46, 65);
  font-size:x-large;
  background: rgb(56, 61, 81);
  border-radius: 4px;
  border: 1px solid rgba(235, 235, 239, 0.08);
  transition: border 0.2s;
}

.modal_supply_content_assets_bottom_btn:hover{
  border: 1px solid rgba(235, 235, 239, 0.8);
}

.modal_borrow_content_assets_bottom_btn{
  background-color:rgb(41, 46, 65);
  font-size:x-large;
  background: rgb(56, 61, 81);
  border-radius: 4px;
  border: 1px solid rgba(235, 235, 239, 0.08);
  transition: border 0.2s;
}


.modal_borrow_content_assets_bottom_btn:hover{
  border: 1px solid rgba(235, 235, 239, 0.8);
}


.assets_supply_tokens_list{
  padding:0;

}

.assets_borrow_tokens_list{
  padding:0;

}

.assets_supply_tokens_list div{
  background-color:rgb(41, 46, 65);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-left:-10px;
  margin-right:-10px;
  border-top: 1px solid rgba(235, 235, 239, 0.08);
  padding-top:15px;
  padding-bottom:15px;
  word-break:break-all;

}


.assets_borrow_tokens_list div{
  background-color:rgb(41, 46, 65);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-left:-10px;
  margin-right:-10px;
  border-top: 1px solid rgba(235, 235, 239, 0.08);
  padding-top:10px;
  padding-bottom:10px;
}

.assets_supply_tokens_list li{
  background-color:rgb(41, 46, 65);
  display:flex;
}

.assets_supply_tokens_list input{
  width:100px;
  background-color:rgb(56, 61, 81);
  border: 1px solid rgba(235, 235, 239, 0.08); /* Set the border color */
  border-radius:4px;
  
}

.assets_supply_tokens_list input:hover{
  border: 1px solid rgba(255, 255, 255, 0.8); /* Set the border color */
}

.assets_supply_tokens_list p{
  background-color:rgb(41, 46, 65);
  font-size: 14px;
}


.assets_borrow_tokens_list li{
  background-color:rgb(41, 46, 65);
  display:flex;
}

.assets_borrow_tokens_list input{
  width:100px;
  background-color:rgb(56, 61, 81);
  border: 1px solid rgba(235, 235, 239, 0.08); /* Set the border color */
  border-radius:4px;
}

.assets_borrow_tokens_list input:hover{
  border: 1px solid rgba(255, 255, 255, 0.8); /* Set the border color */
}

.assets_borrow_tokens_list p{
  background-color:rgb(41, 46, 65);
  font-size: 14px;
}

.assets_borrow_info{
  display:none;
  background-color:rgb(41, 46, 65);
}


.assets_borrow_info_box_left{
  padding-right:10px;
  background-color:rgb(41, 46, 65);
  padding-left:10px;
}

.assets_borrow_info_box_left_inner{
  display:flex;
  padding: 2px 4px;
  border: 1px solid rgba(235, 235, 239, 0.08);
  border-radius:4px;
  background-color:rgb(41, 46, 65);
  
}
.assets_supply_info_box{
  display:flex;
  background-color:rgb(41, 46, 65);
  padding-left:10
}
.assets_borrow_info_box_right{
  display:flex;
  padding: 2px 4px;
  border: 1px solid rgba(235, 235, 239, 0.08);
  border-radius:4px;
  background-color:rgb(41, 46, 65);
}

.assets_supply_info_box_left{
  display:none;
  padding: 2px 4px;
  border: 1px solid rgba(235, 235, 239, 0.08);
  border-radius:4px;
  background-color:rgb(41, 46, 65);
}

.assets_borrow_info_box_left p, .assets_borrow_info_box_right p, .assets_supply_info_box_left p{
  margin:0;
  background-color:rgb(41, 46, 65);
  font-weight: 400;
  letter-spacing: 0.029375rem;
  font-size: 1rem;
  color: rgb(165, 168, 182);
}

.assets_borrow_info_box_right div, .info_container_bottom_totalBorrowed, .info_container_bottom_borrowPower, .info_container_bottom_totalSupplied{
  background-color:rgb(41, 46, 65);
  letter-spacing: 0.029375rem;
  font-size: 1rem;
  font-weight:bold;
  word-break:break-all;
}


.values{
  margin-top:20px;
  display: flex;
  justify-content: center;
}
.values_container{
  padding:10px;
  padding-bottom:0;
  background-color: rgb(41, 46, 65);
  border: 1px solid rgba(235, 235, 239, 0.08);
  border-radius: 4px;
  
}
.values_container_empty{
  padding:10px;
  background-color: rgb(41, 46, 65);
  font-size: 14px;
  color:rgb(165, 168, 182);
  padding-bottom:30px;
}
.values_container_list{
  background-color:rgb(41, 46, 65);
  padding:0;
}

.values_container_list li{
  background-color:rgb(41, 46, 65);
  list-style-type: none;
  
}


.outer_div{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
  font-size: smal;
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  background-color: rgb(41, 46, 65);
  margin-left:-10px;
  margin-right:-10px;
  padding-top:35px;
  padding-bottom:35px;
  border-top: 1px solid rgba(235, 235, 239, 0.08);
}

.outer_div p{
  background-color: rgb(41, 46, 65);

}

.slider_input{
  width:100%;
  
}

.slider_outer_div{
  width:100%;
  background-color: rgb(41, 46, 65);

  
}
.slider_div_top{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 46, 65);
}

.slider_outer_div p{
  margin:0;
  padding-left:10px;
}

#slider_div_top_min_max{
  padding:0;
}

.slider_div_bottom{
  display:flex;
  justify-content: space-between;
  background-color: rgb(41, 46, 65);
  
}

.slider_div_bottom p {
  background-color: rgb(41, 46, 65);
  margin:0;
}



.values_container_title{
  padding:10px;
  background-color: rgb(41, 46, 65);
  font-size: large;
}


.values_container_header{
  display: none;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
  font-size: small;
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  background-color: rgb(41, 46, 65);
  margin-left:-10px;
  margin-right:-10px;
  padding-top:35px;
}

.values_container_header h3{
  margin:0;
  background-color: rgb(41, 46, 65);
  font-size: 0.75rem;
  color:rgb(165, 168, 182);
}

.bottom_info{
  padding:40px;
  display: grid;
  place-items: center;
  text-align: center;
  border-top: 1.5px solid rgba(235, 235, 239, 0.2);
  margin-left:-10px;
  margin-right:-10px;
}

.bottom_socials{
  list-style: none; /* Remove the default bullet points */
  padding: 0; /* Remove any default padding */
  margin: 0; /* Remove any default margin */

}

.bottom_socials li {
  margin-bottom: 12px; /* Adjust the vertical spacing between list items */
}

.bottom_socials li a {
  text-decoration: none; /* Remove underline from links */
  color: #ffffff; /* Set the color of the links */
}

.bottom_socials li a:hover {
  color: #e3e3e3; /* Set the color of the links on hover */
}

.bottom_info_address p{
  margin:0;
  padding:4px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}


input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
